

#firstDog {
    background-image: url('../images/mika.jpg');
}

#secondDog {
    background-image: url('../images/billie.jpg');
}

#thirdDog {
    background-image: url('../images/mini.jpeg');
}

#fourthdDog {
    background-image: url('../images/lizzie.jpg');
}

#fifthDog {
    background-image: url('../images/blue.jpeg');
}

#sixthDog {
    background-image: url('../images/luna.jpg');
}
