
#firstDog {
    background-image: url('../images/כלבים לאימוץ/ae4e9d2d-104b-4612-a415-7a0a126110d4.jpg');
}

#secondDog {
    background-image: url('../images/כלבים לאימוץ/f8b4f253-b3c3-48aa-9905-e2a92a33fa34.jpg');
}
#thirdDog {
    background-image: url('../images/כלבים לאימוץ/IMG-20180827-WA0027.jpeg');
}
#fourthdDog {
    background-image: url('../images/כלבים לאימוץ/IMG-20190427-WA0004.jpg');
}
#fifthDog {
    background-image: url('../images/כלבים לאימוץ/תמונה של WhatsApp‏ 2024-06-30 בשעה 11.24.53_ed8a08e4.jpg');
}
#sixthDog {
    background-image: url('../images/כלבים לאימוץ/תמונה של WhatsApp‏ 2024-06-30 בשעה 11.28.15_47aaedda.jpg');
}
